<div class="row">
  <%= render partial: 'shared/errors', object: @department.errors %>
  <div class="col-sm-6">
    <header>
      <h1>Edit <%= @department.department_name %> Department </h1>
    </header>
    <%= form_for @department, url: company_department_path(@company, @department), method: :put, html: { class: 'well' } do |f| %>
      <div class="form-group">
        <%= f.label :department_name %>
        <%= f.text_field :department_name, class: 'form-control' %>
      </div>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to "Cancel", company_departments_path(@company, @department), class: 'btn btn-info' %>
    <% end %>
  </div>
</div>