<h1 class="page-header"><%= "#{@company.company_name}" %></h1>
<div class="table-responsive">
  <table class="table table-striped" role="grid">
    <thead>
      <tr>
        <th>Departments</th>
      </tr>
    </thead>
    <tbody>
      <% @departments.each do |department| %>
        <tr>
          <td><%= link_to department.department_name, company_department_employees_path(@company, department, @employees) %></td>
          <td>
            <%= link_to 'Edit', edit_company_department_path(@company, department) %>&nbsp;
            <%= link_to 'Delete', company_department_path(@company, department), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @departments %><br>
<%= link_to "Add Department", new_company_department_path(@company), class: 'btn btn-primary' %>
<%= link_to "Back to Company Home", companys_path(@company), class: 'btn btn-info' %>
