<div class="row">
  <%= render partial: 'shared/errors', object: @company.errors %>
  <div class="col-sm-6">
    <header>
      <h1>Add New Company</h1>
    </header>
  <%= form_for @company, url: {action: "create"}, html: {class: 'well'} do |f| %>
    <div class="form-group">
      <%= f.label :company_name %>
      <%= f.text_field :company_name, class: 'form-control' %>
    </div>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to "Cancel", companys_path(@company), class: 'btn btn-info' %>
  <% end %>
  </div>
</div>