<h1 class="page-header"><%= "#{@employee.first_name}"" ""#{@employee.last_name}" %> Leave Log</h1>

<div class="table-responsive">
  <table class="table table-striped" role="grid">
    <thead>
      <tr>
        <th>Remaining Annual Leave (Hours)</th>
        <th>Remaining Sick Leave (Hours)</th>
        <th>Remaining Other Leave (Hours)</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= remaining_annual_leave(@employee, @leave_totals) %></td>
          <td><%= remaining_sick_leave(@employee, @leave_totals) %></td>
          <td><%= remaining_other_leave(@employee, @leave_totals).to_i %></td>
        </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-striped" role="grid">
    <thead>
      <tr>
        <th>Reason Leave Taken</th>
        <th>Date Leave Requested</th>
        <th>Annual Leave Taken</th>
        <th>Sick Leave Taken</th>
        <th>Other Leave Taken</th>
      </tr>
    </thead>
    <tbody>
      <% @leave_totals.each do |leave_total| %>
        <tr>
          <td><%= leave_total.reasons_for_leave %></td>
          <td><%= leave_total.date_leave_requested %></td>
          <td><%= leave_total.annual_leave %></td>
          <td><%= leave_total.sick_leave %></td>
          <td><%= leave_total.other_leave %></td>
          <td><%= link_to 'Edit', edit_company_department_employee_leave_total_path(@company, @department, @employee, leave_total) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @leave_totals %><br>
<%= link_to 'Log Leave', new_company_department_employee_leave_total_path(@company, @department, @employee, @leave_total), class: 'btn btn-primary' %>